
@{
    ViewBag.Title = "Bio";
}



<body>
   

    <h2>Md Faysal Jamil Zihad</h2>
    <p>
        Email:zihad.jamil2018@gmail.com<br>
        Mobile:+8801318890747
    </p><br><br>

    <div><h2 style="background-color:lightblue">OBJECTIVE :</h2></div><br>
    <p> IT Consultant position that will enable me to utilize my technical and fundamental competencies in computer programming, local area networking, website development and contribute more efficient operational frameworks for the company.</p><br><br>


    
</body>
