
@{
    ViewBag.Title = "Education";
}



<div><h2 style="background-color :lightblue">EDUCATIONAL QUALIFICATION:</h2></div>
<br>

<b><mark style="background-color :lightgreen">Bachalor In Computer Science And Engineering: </b></mark>
<br>
<p><b>Institution :</b>American International University Bangladesh(AIUB)</p>
<p><b>Depertment : </b>Computer Science And Engineering(CSE)</p>
<p><b>Major:</b></p>
<p><b>CGPA:</b>3.90</p>
<p><b>Year Of Pass: </b>2023(expected)</p>

<b><mark style="background-color :lightgreen">Higher School Cirtificate(HSC): </b></mark>
<br>
<p><b>Institution :</b>Bangladesh Navy High School And College,Chattogram.</p>
<p><b>Board :</b>Chattogram.</p>
<p><b>Group:</b>Science.</p>
<p><b>GPA:</b>4.33</p>
<p><b>Year Of Pass: </b>2018</p>


<b><mark style="background-color :lightgreen">Higher School Cirtificate(HSC): </b></mark>
<br>
<p><b>Institution :</b>Bangladesh Navy High School And College,Chattogram.</p>
<p><b>Board :</b>Chattogram.</p>
<p><b>Group:</b>Science.</p>
<p><b>GPA:</b>5.00</p>
<p><b>Year Of Pass: </b>2016</p>

