
@{
    ViewBag.Title = "Projects";
}



<div><h2 style="background-color :lightblue">PROJECTS :</h2></div>
<br>
<p>
    1.Covid-19 test Management System(Using C#,Database,GUI,git)<br>
    2.Hostel Management System(Using C#,Database,GUI)<br>
    3.Easy Loan App For Farmers.(OOAD)<br>
    4.Bank Management System(Using Java,Database,GUI)
</p>
<br>

