
@{
    ViewBag.Title = "References";
}



<div><h2 style="background-color :lightblue">REFERENCES:</h2></div>
<br>
<p>
    1.Md Jaynal Abedin(General Secretary,Itech Industries Ltd)<br>
    2.Nazrul Islam(Manager,Itech Industries Ltd)
</p>
<br>

